
html {
    background-color: #FFFFFF;
}
/* HEADER COMPONENT */
.HeaderBar {
    color: white;
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: #1D1267;
    /*border-bottom: 2px solid #77FF99; */
    margin-bottom: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);



}
nav #left {
    font-family: NC Burrata,sans-serif;

    display: flex;
    column-gap: 20px;
    padding-right: 20px;
    padding-left: 20px;
}
#navItemLeft {
    
    padding-left: 2vw;
    background-color: #1D9B09;

    padding-right: 2vw;
    border: 1px solid #38D31F;
    border-bottom: none;
}
#navItemLeft:hover {
    background-color: #38D31F;
}
#navItemRight {
    margin-top: 3vh;
    margin-bottom: 3vh;
    margin-right: 2vw;
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    cursor: pointer;
    font-size: 18px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.25);
    border: 2px solid #1D1267;
    border-radius: 10px;
    

    transition: font-size 250ms,background-color 250ms, border-color 250ms, color 250ms;

}
#navItemRight:hover {
    border-color: black;
    color: black;
    background-color: rgb(164, 217, 250);
    font-size: 20px;
    transition: font-size 250ms, background-color 250ms, border-color 250ms, color 250ms;
}
nav #right {
    background-color: pink; /* bro why you no work?? im literally using this nav #right and nothing here exists??*/
}
nav #right:hover {
    
}
.logo {
    display: flex;
    flex-direction: row;
    font-family: Georgia, Times, "Times New Roman", serif;
    margin-left: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: none;
    font-size: 2.5rem;
    cursor: pointer;



}
.lightbulb {
    width: 60px;
}


.profileDisplay {
    background-color: lightskyblue;
    display: inline;
    justify-content: end;
    float: right;
}
.pfp {
    border-radius: 100px;
    
}
header {
    color: #1d3557;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
/* CHAT FEATURE */
.forumItem {
    color: black;
    padding-top: 5px;
    padding-bottom: 5x;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 1px;
    margin-top: 1px;

    transition: background-color 1ms ;
    
}
.forumItem:hover {
    color: white;
    background-color: rgba(25,50,50,0.75);
    transition: background-color 1ms;
}
.forumPage {
    margin-left: 10vw;
    width: 60vw;
    
    max-height: 80vh;
    height: 75vh;
    

    overflow-y: scroll;
    
    border-width: 5px;
    border-style: bevel;

    border-color: #005598;
    border-radius: 10px;
    background: radial-gradient(#F7FFF7, #CFEFCF);
    
}

.forumEnter {
    margin-left: 10vw;
    margin-right: 15vw;
}
.forum_accepted {
    max-height: 80vh;
    height: 75vh;
    

    overflow-y: scroll;
    
    border-width: 2px;
    border-style: groove;

    border-color: #005598;
    border-radius: 10px;
    background: radial-gradient(#F7FFF7, #CFEFCF);
    
}
.forumMessage {
    border: 5px bevel #00BBFF;
    max-width: 70%;
    border-radius: 5px;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-bottom: 1px;
    overflow: hidden;
    
}
textarea .editMsg {
    color: white;
    background-color: #0055AA;
    border: 5px bevel #00BBFF;
    max-width: 70%;
    border-radius: 5px;
    padding-right: 4px;
    padding-left: 4px;
    overflow: hidden;
}
.forums {
    background-repeat: no-repeat;
    
    
    
    background-attachment: fixed;
    
    background-size: 100%;
    overflow: hidden;
    

}
.useless {
    background-image: linear-gradient(#FFEEFF, #EEFFEE);
    background-image: url('https://derpicdn.net/img/view/2013/2/7/235902.jpg');
    background-image: url('https://derpicdn.net/img/view/2017/5/17/1438986.png');
    background-image: url('https://derpicdn.net/img/2017/5/17/1438986/large.png');
}
/* GROUP PAGE FEATURE */
 
.input-focused {
    box-shadow: 0 0 0 9999px #000000b0;
    display: flex;
    flex-direction: column;
    height: auto; 
    width: 33vw;
    background-color: white;
    border-style: solid;
    border-color: darkblue;
    
    border-width: 5px;
    border-radius: 10px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 3px;
    position: absolute;
    left: 33vw; 
    top: 30vh; 
    z-index: 1;
  }
  .card_groups {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /*background: radial-gradient(#F7FFF7, #DFFFDF);*/
    background-color: #EEEEEE;
    min-height: 200px;
    max-width: 400px;
    /*border-style: solid;
    border-width: 3px;
    border-color: #005598;*/
    
    border-radius: 10px;
    padding: 20px;
    cursor: pointer;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
}
.card_groups:hover {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    text-decoration: underline;
    background: radial-gradient(#F7FFF7, #CFEFCF);

    /*border-width: 4px;*/

}
.container_groups {
    margin-left: 5vw;
    width: 400vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 80vw;
    gap: 1em;
}
