
html {
    background-color: #FFFFFF;
}
/* HEADER COMPONENT */
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    column-gap: 20px;
    padding-right: 20px;
    padding-left: 20px;
    background-color: lightgray;
}
.logo {
    display: flex;
    flex-direction: row;
}
.lightbulb {
    width: 60px;
}
.headerBar {
    display: flex;
    flex-direction: row;

}
.menuItems {
    width: 100%;

}
.profileDisplay {
    background-color: lightskyblue;
    display: inline;
}
.pfp {
    border-radius: 100px;
    
}
header {
    color: #1d3557;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
/* CHAT FEATURE */
.forumItem {
    color: black;
    padding-top: 5px;
    padding-bottom: 5x;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 1px;
    margin-top: 1px;

    transition: background-color 1ms ;
    
}
.forumItem:hover {
    color: white;
    background-color: rgba(25,50,50,0.75);
    transition: background-color 1ms;
}
.forumPage {
    margin-left: 10vw;
    width: 60vw;
    
    max-height: 80vh;
    height: 75vh;
    

    overflow-y: scroll;
    
    border-width: 5px;
    border-style: bevel;

    border-color: #005598;
    border-radius: 10px;
    background: radial-gradient(#F7FFF7, #CFEFCF);
    
}

.forumEnter {
    margin-left: 10vw;
    margin-right: 15vw;
}
.forumMessage {
    border: 5px bevel #00BBFF;
    max-width: 70%;
    border-radius: 5px;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-bottom: 1px;
    overflow: hidden;
    
}
textarea .editMsg {
    color: white;
    background-color: #0055AA;
    border: 5px bevel #00BBFF;
    max-width: 70%;
    border-radius: 5px;
    padding-right: 4px;
    padding-left: 4px;
    overflow: hidden;
}
.forums {
    background-repeat: no-repeat;
    
    
    
    background-attachment: fixed;
    
    background-size: 100%;
    overflow: hidden;
    

}
.useless {
    background-image: linear-gradient(#FFEEFF, #EEFFEE);
    background-image: url('https://derpicdn.net/img/view/2013/2/7/235902.jpg');
    background-image: url('https://derpicdn.net/img/view/2017/5/17/1438986.png');
    background-image: url('https://derpicdn.net/img/2017/5/17/1438986/large.png');
}
/* GROUP PAGE FEATURE */
 
.input-focused {
    box-shadow: 0 0 0 9999px #000000b0;
    display: flex;
    flex-direction: column;
    height: auto; 
    width: 33vw;
    background-color: white;
    border-style: solid;
    border-color: darkblue;
    
    border-width: 5px;
    border-radius: 10px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 3px;
    position: absolute;
    left: 33vw; 
    top: 30vh; 
    z-index: 1;
  }
  .card_groups {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: radial-gradient(#F7FFF7, #DFFFDF);
    min-height: 200px;
    max-width: 400px;
    border-style: solid;
    border-width: 3px;
    border-color: #005598;
    
    border-radius: 10px;
    padding: 20px;
    cursor: pointer;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
}
.card_groups:hover {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    text-decoration: underline;
    background: radial-gradient(#F7FFF7, #CFEFCF);

    /*border-width: 4px;*/

}
.container_groups {
    margin-left: 5vw;
    width: 400vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 80vw;
    gap: 1em;
}
